p {
    color:darkmagenta; font-weight:bold;
}

h2{
    color:darkgreen; font-size:small;
}

table, td, th {
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    border-collapse: collapse;
}
p#pink{
    color:deeppink; font-weight:bolder;
}
.blue{
    color:blue;
}

.height-100{
    height:100px
}
.width-200{
    width:200px
}