/*Making all paragraphs magenta and bold*/
p {
    color:darkmagenta; font-weight:bold;
}
/*Making all level 2 headers green and small*/
h2{
    color:darkgreen; font-size:small;
}
/*Creating an orange border for the table*/
table, td, th {
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    border-collapse: collapse;
}
p#pink{
    color:deeppink; font-weight:bolder;
}
.blue{
    color:blue;
}
div.logo{
    height:100px; width:200px
}
