<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarah's Page</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h1 class="blue">Sarah's College Experience</h1>
<h2>From CSM to UMD!</h2>
<h2>Soon to be graduating the business school!</h2>
<p>This is my <strong>first</strong> paragraph. I started CSM in 2020, receiving an <em>Associate's</em> in Business Administration in 2022.</p>
<p>This is my <strong>second</strong> paragraph. I will soon be receiving a <em>Bachelor's</em> in Information Systems.</p>
<!--Listing jobs below-->
<p>Jobs I have right now:</p>
<ul>
    <li>OCS Career Advising Intern</li>
    <li>Smith TA</li>
    <li>Gym Front Desk Associate</li>
</ul>
<!--Listing majors below-->
<p>Majors I would have chosen, if I didn't do IS:</p>
<ol>
    <li>Finance</li>
    <li>OMBA</li>
    <li>Supply Chain Management</li>
    <li>Management</li>
</ol>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT340</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2023</td>
        </tr>
    </table>

<p>A link to the <a href="https://sashe22.pythonanywhere.com/hello">link to /hello route</a>.</p>
<p>A link to one of my favorite clothing sites <a href="https://www.abercrombie.com/shop/us">Abercrombie</a>.</p>
<p>A link to my favorite site <a href="https://www.amazon.com/?tag=amazusnavi-20&hvadid=675149237887&hvpos=&hvnetw=g&hvrand=349068071991487397&hvpone=&hvptwo=&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=2840&hvtargid=kwd-10573980&ref=pd_sl_7j18redljs_e&hydadcr=28883_14649097" target="_blank">Amazon</a>.</p>
<!--Inputting image below-->
<p>Here is a picture of the Smith logo.</p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">
<p id="pink">Thanks for visiting my page!</p>
</body>
</html>